body {
    background-color: beige;
    padding: 0px;
    margin: 0px;
}
.upper-bar {
    height: 100px;
    padding: 0px;
    margin: 0px;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.upper-bar > h2 {
    flex: 2;
    text-align: center;
    align-items: end;
    background-color: beige;
    padding: 20px;
    width: 50px;
}

.name {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 0px;
    margin: 0px;
    border: 0px;
}