.upper-bar {
    display: flex;
    margin-top: 0px;
}

.upper-bar > h2 {
    flex: 1;
    text-align: center;
    background-color: beige;
    padding: 20px;
    border: none;
    margin-top: none;
}

.name {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 0px;
    margin: 0px;
    border: 0px;
}